
.floatInstagram > a > i {
  color: #ff4444;
  text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .floatInstagram:hover, .floatInstagram:focus, .floatInstagram:focus {
    color: #ff4444;
}

.floatUp > a > i {
  color: #879a9f;
  text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .floatUp:hover, .floatUp:focus, .floatUp:focus {
    color: #879a9f;
}

.fa-heart {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .fa-heart:hover, .fa-heart:focus, .fa-heart:focus {
    color: #ff4444;
}

.fa-shopping-cart:active {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .fa-shopping-cart:hover, .fa-shopping-cart:focus, .fa-shopping-cart:focus {
    color: #ffeb3b;
}




.darkgrey {
    color: #879a9f;
}

.orange {
    color: #ff6f00;
}

.check {
    text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.ready {
    color: #ff6f00;
    text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}


.lightgreyback {
    background: #f3f4f6;
}

.darkback {
    background: #232323;
}

.btn-rounded {
    border-radius: 25px;
}

.btn-darkgrey {
    background: #879a9f;
}

.btn-yellow {
    background: #ffeb3b;
}
