
h1,
h2 {
    text-shadow:#263238 0 0 3px;
}

.darkgrey {
    color: #879a9f;
}

.orange {
    color: #ff6f00;
}

.check {
    text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.ready {
    color: #ff6f00;
    text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.fa-angle-double-up.fa-2x {
    color: #879a9f;
    text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.fa-instagram.fa-3x {
    color: #ff4444;
    text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.lightgreyback {
    background: #f3f4f6;
}

.darkback {
    background: #232323;
}

.btn-rounded {
    border-radius: 25px;
}

.btn-darkgrey {
    background: #879a9f;
}

.btn-yellow {
    background: #ffeb3b;
}

.fa-heart:active {
    color: #ff4444;
}

.fa-shopping-cart:active {
    color: #ffeb3b;
}

.downsticky-right {
    display: block;
    position: fixed;
    top: 85%;
    right: 0.5em;
    z-index:99999;
}

.upsticky-left {
    display: block;
    position: fixed;
    top: 3%;
    left: 0.5em;
    z-index:99999;
}
